
#timeline-embed {
	border-top: 1px solid #ccc;
}

	#timeline-embed * {
		font-family: inherit !important;
	}

	#timeline-embed h1,
	#timeline-embed h2,
	#timeline-embed h3,
	#timeline-embed h4,
	#timeline-embed h5,
	#timeline-embed h6 {
		font-weight: 300 !important;
	}

#timeline-embed .timenav-tag * { color: #666 !important; }





#timeline-embed .layout-text-media .text { width: 50% !important; }


.timeline-source {
	font-size: 0.7em !important;
	margin-bottom: 0 !important;
}
.timeline-source:before{
	content: "+ ";
}

