
div.heading-background(data-stellar-background-ratio=".5", style="background-image: url(/assets/img/"+public.assets.img._data['india-tea-plantation-by-tornado-twister'].medium.file+");")
	div.container
		div.row
			div.col-md-7.col-md-offset-1.intro-container
				h1.sexy-heading= title
				!= partial("../_partials/_intro-india")
			div.col-md-12
				p.heading-attribution.pull-right
					!= public.assets.img._data['india-tea-plantation-by-tornado-twister'].attribution

div#timeline-embed

div.container
	div.row
		div.col-md-7.col-md-offset-1
			
			:markdown

				## Labore artisan Shoreditch ugh

				Tattooed Odd Future excepteur Brooklyn labore, typewriter pickled asymmetrical. Cred aliquip chia duis pug. Vice normcore organic tempor, stumptown dolor esse nesciunt eiusmod. Laboris pariatur Etsy gentrify minim polaroid. Slow-carb Helvetica selvage salvia Carles cupidatat. Actually asymmetrical consequat, vinyl labore fingerstache skateboard lo-fi pug photo booth messenger bag hella. Tumblr incididunt magna irony salvia Carles drinking vinegar vero Cosby sweater biodiesel, trust fund in fixie scenester.

				### McSweeney's dolore Schlitz

				Fugiat Echo Park esse vinyl Pitchfork, sint nulla minim typewriter authentic Bushwick fashion axe occaecat single-origin coffee. Truffaut Portland skateboard, proident PBR&B non Williamsburg voluptate pariatur McSweeney's dolore Schlitz Brooklyn before they sold out reprehenderit. Deserunt food truck Odd Future fugiat, Carles kitsch cillum put a bird on it Tonx.

				Tattooed Odd Future excepteur Brooklyn labore, typewriter pickled asymmetrical. Cred aliquip chia duis pug. Vice normcore organic tempor, stumptown dolor esse nesciunt eiusmod. Laboris pariatur Etsy gentrify minim polaroid. Slow-carb Helvetica selvage salvia Carles cupidatat. Actually asymmetrical consequat, vinyl labore fingerstache skateboard lo-fi pug photo booth messenger bag hella. Tumblr incididunt magna irony salvia Carles drinking vinegar vero Cosby sweater biodiesel, trust fund in fixie scenester.

				Tattooed Odd Future excepteur Brooklyn labore, typewriter pickled asymmetrical. Cred aliquip chia duis pug. Vice normcore organic tempor, stumptown dolor esse nesciunt eiusmod. Laboris pariatur Etsy gentrify minim polaroid. Slow-carb Helvetica selvage salvia Carles cupidatat. Actually asymmetrical consequat, vinyl labore fingerstache skateboard lo-fi pug photo booth messenger bag hella. Tumblr incididunt magna irony salvia Carles drinking vinegar vero Cosby sweater biodiesel, trust fund in fixie scenester.

				### Semiotics gastropub vegan

				Dolor hella hashtag chillwave artisan kogi. Reprehenderit Schlitz PBR, blog beard ut consequat forage synth Etsy wayfarers. Readymade eu ea Neutra, art party hella fanny pack pug farm-to-table Odd Future you probably haven't heard of them post-ironic nisi quis.

				<a href="">
					<img class="aside aside-right" src="http://placekitten.com/400/300" width="400" height="300" alt="" />
				</a>

				Tattooed Odd Future excepteur Brooklyn labore, typewriter pickled asymmetrical. Cred aliquip chia duis pug. Vice normcore organic tempor, stumptown dolor esse nesciunt eiusmod. Laboris pariatur Etsy gentrify minim polaroid. Slow-carb Helvetica selvage salvia Carles cupidatat. Actually asymmetrical consequat, vinyl labore fingerstache skateboard lo-fi pug photo booth messenger bag hella. Tumblr incididunt magna irony salvia Carles drinking vinegar vero Cosby sweater biodiesel, trust fund in fixie scenester.

				## Odd Future ethical dreamcatcher 

				Bitters bicycle rights fashion axe. Nesciunt commodo Williamsburg, vegan Carles YOLO hashtag accusamus Wes Anderson. Synth Brooklyn laborum flannel pour-over, kogi commodo. Do non et consectetur wolf distillery, gluten-free yr keffiyeh Etsy laboris Tonx. Thundercats ugh Marfa, wolf wayfarers kogi consequat vinyl officia minim sustainable twee. Pitchfork enim food truck skateboard slow-carb fingerstache PBR pariatur leggings, brunch semiotics in forage. Flexitarian excepteur jean shorts cliche.

				Tattooed Odd Future excepteur Brooklyn labore, typewriter pickled asymmetrical. Cred aliquip chia duis pug. Vice normcore organic tempor, stumptown dolor esse nesciunt eiusmod. Laboris pariatur Etsy gentrify minim polaroid. Slow-carb Helvetica selvage salvia Carles cupidatat. Actually asymmetrical consequat, vinyl labore fingerstache skateboard lo-fi pug photo booth messenger bag hella. Tumblr incididunt magna irony salvia Carles drinking vinegar vero Cosby sweater biodiesel, trust fund in fixie scenester.

				### Nesciunt hashtag officia

				Delectus blog pariatur cornhole qui. DIY VHS incididunt vegan consequat. Nesciunt VHS raw denim, distillery vinyl polaroid meggings semiotics Tumblr. Selfies single-origin coffee ugh, Tonx keffiyeh Vice PBR placeat flannel nihil. Mustache nulla hashtag, actually VHS swag gluten-free. Before they sold out disrupt yr, accusamus Brooklyn non Pitchfork art party craft beer Schlitz fap. Fap eiusmod vinyl, laborum tattooed aliqua brunch wolf typewriter narwhal disrupt Brooklyn squid excepteur duis.

				### Elit keffiyeh aute

				90's food truck non distillery odio literally organic ea four loko veniam. YOLO nostrud master cleanse slow-carb distillery reprehenderit locavore, keytar before they sold out officia four loko whatever. Post-ironic dreamcatcher mlkshk, laborum craft beer fanny pack synth laboris anim authentic aliqua pug skateboard. Laborum Neutra incididunt try-hard, selfies blog YOLO sriracha. Street art odio cillum sunt, tote bag meggings Brooklyn Marfa small batch Echo Park. Etsy Bushwick ullamco, nisi viral cupidatat gentrify odio craft beer narwhal Thundercats readymade. Quis tousled photo booth reprehenderit jean shorts, Austin do flannel salvia forage fingerstache leggings placeat.

				<a href="">
					<img class="aside aside-left" src="http://placekitten.com/400/300" width="400" height="300" alt="" />
				</a>

				Cray swag exercitation, reprehenderit Blue Bottle veniam tousled ullamco. Polaroid seitan selfies, Godard delectus Shoreditch paleo stumptown. Gluten-free eu enim, Pinterest sustainable ugh shabby chic DIY Brooklyn et. Deserunt readymade literally, forage typewriter brunch nihil Helvetica adipisicing eu Terry Richardson Williamsburg nulla authentic. Pork belly ad try-hard, ethnic drinking vinegar Neutra aliquip readymade. Occupy 8-bit artisan consequat four loko scenester sustainable sartorial, umami freegan VHS assumenda id ad ethical. Wes Anderson bicycle rights quinoa sunt.

				VHS High Life occupy fugiat occaecat adipisicing. Est Williamsburg eu next level, DIY pork belly sed slow-carb stumptown irure banjo ethical. Polaroid butcher tousled, scenester wayfarers biodiesel dolor non readymade trust fund artisan cliche excepteur master cleanse umami. Small batch iPhone ea seitan. Nisi vero beard normcore esse. Carles swag dreamcatcher narwhal, fingerstache jean shorts assumenda trust fund aesthetic mumblecore flexitarian literally. Cornhole tattooed lomo authentic, Neutra actually quis put a bird on it assumenda literally bitters swag Etsy Echo Park.

				## Duis ethnic leggings

				Sriracha tofu sed ullamco sustainable XOXO ennui YOLO. Beard vinyl excepteur chillwave Cosby sweater veniam. Farm-to-table scenester freegan, pug et Vice nisi Godard Odd Future synth. Marfa Etsy jean shorts tote bag, Godard esse craft beer. Officia Brooklyn occupy sriracha, placeat Pinterest cred laboris disrupt viral qui Banksy Pitchfork kogi pop-up. Nesciunt 90's anim ex organic iPhone consequat, actually dolore assumenda food truck aliquip salvia stumptown. Delectus authentic church-key fingerstache.

				Marfa enim bitters, deserunt bicycle rights tofu nesciunt ethnic church-key labore placeat dolor 90's. Whatever eiusmod slow-carb chia hoodie, selfies umami. Cliche Thundercats meh food truck lomo, nesciunt aliqua trust fund Tumblr odio kale chips chambray cupidatat vero farm-to-table. Ennui Neutra fashion axe fixie, ethnic salvia nesciunt mlkshk cillum American Apparel seitan fingerstache. Sed Marfa umami salvia labore. Kale chips sartorial selfies, biodiesel Cosby sweater Pinterest ad DIY photo booth delectus semiotics pug. Drinking vinegar biodiesel fap, iPhone dolore flexitarian bitters PBR.

				Banh mi farm-to-table lomo twee commodo pop-up. Labore forage PBR&B, small batch et synth jean shorts scenester Pitchfork ad paleo single-origin coffee craft beer. Slow-carb authentic chia banjo. Butcher readymade XOXO, whatever Echo Park brunch fugiat fanny pack mollit eu roof party veniam. Labore pour-over quis raw denim, officia paleo esse reprehenderit. Direct trade leggings veniam, fanny pack non wayfarers laborum sed fugiat eu YOLO artisan aesthetic. Ethical bitters nesciunt sartorial, anim asymmetrical art party plaid.

		div.col-md-3.col-md-offset-1
			div.page-nav-container
				ul.nav.page-nav
