
// Raphael
script(src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js")

// Kartograph
script(src="//cdnjs.cloudflare.com/ajax/libs/kartograph-js/0.8.5/kartograph.min.js")

// Custom
script(src="/assets/js/atlas.js")
