
div.container
	div.row
		div.footer
			:markdown
				Unless otherwise indicated, this project and all content is licensed under the [Creative Commons Attribution-ShareAlike 4.0 International License](http://creativecommons.org/licenses/by-sa/4.0/).

// BOOTSTRAP CDN
script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/stellar.js/0.6.2/jquery.stellar.min.js")


// CUSTOM JS
script(src="/assets/js/main.js")
