
//
	|.
	|.
	|.
	|                       )
	|                      (
	|                       )
	|                  _.-~(~-.
	|                 (@\`---'/.
	|                ('  `._.'  `)
	|                 `-..___..-'
	|.
	|.
	|.

//GLOBALS
script.
	var siteGlobals = {
		"domain": "#{ domain }",
		"path": "#{ path }"
	};

// PACE
script(src="//cdnjs.cloudflare.com/ajax/libs/pace/0.4.17/pace.js")

style.
	.pace .pace-progress {
		background: #e372ff;
		position: fixed;
		z-index: 2000;
		top: 0;
		left: 0;
		height: 2px;
		-webkit-transition: width 1s;
		-moz-transition: width 1s;
		-o-transition: width 1s;
		transition: width 1s;
	}
	.pace-inactive { display: none; }

// BOOTSTRAP CDN

// Vanilla Bootstrap
// link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")

// Yeti (Foundation Look-alike)
link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/yeti/bootstrap.min.css")

// Font Awesome
link(rel="stylesheet", href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css")


// CUSTOM STYLES
link(rel="stylesheet", href="/assets/less/main.css")	
