
// BOOTSTRAP CDN

// Vanilla Bootstrap
// link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")

// Yeti (Foundation Look-alike)
link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/yeti/bootstrap.min.css")

// Font Awesome
link(rel="stylesheet", href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css")


// CUSTOM STYLES
link(rel="stylesheet", href="/assets/less/main.css")	