:markdown

	## Assam

	Tattooed Odd Future excepteur Brooklyn labore, typewriter pickled asymmetrical. Cred aliquip chia duis pug. Vice normcore organic tempor, stumptown dolor esse nesciunt eiusmod. Laboris pariatur Etsy gentrify minim polaroid. Slow-carb Helvetica selvage salvia Carles cupidatat. Actually asymmetrical consequat, vinyl labore fingerstache skateboard lo-fi pug photo booth messenger bag hella. Tumblr incididunt magna irony salvia Carles drinking vinegar vero Cosby sweater biodiesel, trust fund in fixie scenester.
