div.page-nav(data-spy="affix", data-offset-top="80")
	ul.nav
		li.active
			a(href="#") Bitters bicycle rights fashion axe
			ul.nav
				li
					a(href="#") Nesciunt commodo Williamsburg
				li
					a(href="#") Etsy laboris Tonx
				li
					a(href="#") Synth Brooklyn laborum flannel
		li
			a(href="#") Thundercats ugh Marfa, wolf
		li
			a(href="#") Pitchfork enim food truck skateboard
		li
			a(href="#") Flexitarian excepteur jean shorts cliche
