div.page-nav
	ul.nav
		li.active
			a(href="#") Level 1
			ul.nav
				li
					a(href="#") Level 2
				li
					a(href="#") Level 2
				li
					a(href="#") Level 2
		li
			a(href="#") Level 1
		li
			a(href="#") Level 1
		li
			a(href="#") Level 1